html
{
    margin:0;
    background:url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

body
{
    overflow:hidden;
    padding-top: 10vh;
    font-family: sans-serif;
    opacity: 0;
}

.navbar
{
    position: fixed;
    left: 12.5%;
    top: 25%;
    font-size: 250%;
    /*background: linear-gradient(#ddd, #fff);*/
    width:75%;
    /*border-style: solid;
    border-color: #ddd;
    border-width: 1px;*/
    text-align: center;
    z-index: 5;
}

#subtitle
{
    margin-top:-3vw;
}

#cboxOverlay { visibility: visible; opacity: 1.0 !important; }
#cboxContent { opacity: 0.9; }

#cover
{
    position:absolute;
    height: 90vh; /* Prendre en compte la navbar ! */
}

#scrollDown
{
    cursor: pointer;
    /*border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #aaa;*/
    margin-left: 49vw;
    margin-top: 50vh;
    transform: translate(-50%, 100%);
}

#scrollDown:hover
{
    opacity:0.5;
}

/* ici aussi */
#inner
{
    position:absolute;
    top:100vh;
    width: 99vw;
    height: 94vh;
}

#introduction
{
    float: left;
    /* border-style: solid;*/
    text-align: justify;
    margin-left: 2vw;
    max-height: 95vh;
    max-width: 50vw;
    background: linear-gradient(#ddddddd0, #ffffffd0);
    
}
div > p
{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vw;
}

#renderer
{
    float: right;
    width: 40%;
    height: 95%;
}

@font-face
{
    font-family: "MyriadPro-Bold";
    src: url("MyriadPro-Bold.otf");
}