html
{
    background:url("../images/background.png");
    word-wrap: break-word;
    font-family: "Nunito Sans", sans-serif;
    text-align: justify;
    
    background-color: rgb(60, 60, 60);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body
{
    overflow:hidden;
    padding-top: 10vh;
    opacity: 0;
}

.navbar
{
    position: fixed;
    left: 12.5%;
    top: 25%;
    font-size: 250%;
    /*background: linear-gradient(#ddd, #fff);*/
    width:75%;
    /*border-style: solid;
    border-color: #ddd;
    border-width: 1px;*/
    text-align: center;
    z-index: 5;
}

#title
{
    font-family: Monoton;
    font-weight: 200;
}

#subtitle
{
    margin-top:-3vw;
}

#cboxOverlay { visibility: visible; opacity: 1.0 !important; }

#cover
{
    position:absolute;
    height: 90vh; /* Prendre en compte la navbar ! */
}

#scrollDown
{
    cursor: pointer;
    margin-left: 49vw;
    margin-top: 50vh;
    transform: translate(-50%, 100%);
}

#scrollDown:hover
{
    opacity:0.5;
}

/* ici aussi */
#inner
{
    position:absolute;
    top:100vh;
    width: 99vw;
    height: 92vh;
}

#introduction-box
{
    float: left;
    margin-left: 2vw;
    max-height: 89vh;
    max-width: 50vw;
    background-color: rgba(221, 221, 221, 0.75);
}

#introduction
{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vw;
}

#renderer
{
    float: right;
    width: 47%;
    height: 95%;
}

.tabulation{
  margin-left:4em;
}

figure {
  float: right;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(fonts/NunitoSans-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}