html
{
    margin:0;
    background:url("background.png") no-repeat center center fixed;
    background-size: cover;
}

body
{
    overflow:hidden;
    padding-top: 10vh;
    font-family: sans-serif;
}

.navbar
{
    position: fixed;
    left: 12.5%;
    top: 0;
    background: linear-gradient(#ddd, #fff);
    width:75%;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    text-align: center;
    z-index: 5;
}

#cboxOverlay { visibility: visible; opacity: 1.0 !important; }
#cboxContent { opacity: 0.9; }

#renderer
{
    float: right;
    width: 50%;
    height: 95%;
}

#cover
{
    position:absolute;
    height: 90vh; /* Prendre en compte la navbar ! */
}

#scrollDown
{
    cursor: pointer;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #aaa;
    margin-left: 49vw;
    transform: translate(-50%, 0);
    margin-top: 80vh;
}

#scrollDown:hover
{
    opacity:0.5;
}

/* ici aussi */
#inner
{
    position:absolute;
    top:100vh;
    width: 99vw;
    height: 90vh;
}

#introduction
{
    float: left;
    /* border-style: solid;*/
    border-radius: 10px;
    margin-left: 5vw;
    max-height: 95%;
    max-width: 40vw;
    background: linear-gradient(#dddddd80, #ffffff80);
}